.Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .Cart-Items>a{
    text-decoration: none;
    text-justify: auto;
    color: black;
   }
   .Cart-Container{
    padding: 40px;
    width: 70%;
    height: 85%;
    background-color: #ffffff;

   }

   .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .btn{
    width: 40px;
    height: 40px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
   }