.productsList{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.products-category-name{
margin: 10px;
padding: 20px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 42px;
color: #1D1F22;
}



nav{
  width: 100%;
  height: 60px;
  
}
.nav-box{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-left{
  display: flex;
  align-items: center;
  margin: 1rem 0 0 1rem;
}
.nav-right{
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.nav-box>span,.nav-right>span{
  right: 10px;
  cursor: pointer;
}
.category-body{

  /* identical to box height, or 19px */
  display: inline;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px

}
.category-body:hover{
    border-bottom: cornflowerblue solid 3px;
}
.category-body>a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    font-size:x-large;
    text-decoration: none;
    color: black;
    
   
}
.product-element {
  
    display: flex;
    flex-direction: column;
    justify-content:s;
    align-items: center;
    padding: 16px;
    margin: 40px;
    
    width: 386px;
    height: 444px;
    
    /* --c-white */
    
    background: #FFFFFF;
    
    /* Inside auto layout */
    
  
  }
  
  
  .product-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    
   
    
    /* --c-white */
    
    background: #FFFFFF;
    
   
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
    display: flex;
    flex-direction: column;
  }
button{
  background-color: #272b27; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

  .product-name {
    flex-direction: column;
    width: 354px;
    height: 129px;
    padding: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 160%;
    /* identical to box height, or 29px */
    
    display: flex;
    align-items: center;
    
    /* --c-black */
    
    color: #1D1F22;
  }
  .product-name>a{
    text-decoration: none;
  }
  .product-price {
    width: 58px;
    height: 29px;
    
    /* --price-regular-font */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    
    text-align: right;
    
    /* --c-black */
    
    color: #1D1F22;
    
    
    /* Inside auto layout */
    
  
  }
  
  

